  <div class="row mt-5">
      <font face="Montserrat"><h1 class="mt-4" style="font-size: 48px; color: #f9b342">      <i
        class="fas fa-door-open"
        style="font-size: 36px; color: #f9b342"
      ></i> Área de Candidato</h1>
      <div class="card card-body ">
        Seja bem-vindo <b><font color="#3192B3"><%= user.name %>!</font></b><br>

          <div align="left">  <p class="lead mb-3" style="font-size: 12; color: #000"></font>
</p>
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Inscrever-se
  </button>
  <div class="dropdown-menu" aria-labelledby="Inscrever-se">
    <a class="dropdown-item" href="#"><font face="Montserrat">CASDinho</font></a>
    <a class="dropdown-item" href="#"><font face="Montserrat">CASDvest</font></a>
  </div>
  <a href="/users/logout" class="btn btn-primary">Logout</a>

  <h1 class="mt-4" style="font-size: 48px; color: #f9b342">Minhas Inscrições</h1>
  <div class="card card-body">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><font face="Montserrat" color="#3192B3">Processo Seletivo</font></th>
        <th scope="col"><font face="Montserrat" color="#3192B3">Nome do Candidato</font></th>
        <th scope="col"><font face="Montserrat" color="#3192B3">Situação da Inscrição</font></th>
        <th scope="col"><font face="Montserrat" color="#3192B3">Solicitação de isenção</font></th>
        <th scope="col"><font face="Montserrat" color="#3192B3">Informações sobre a prova</font></th>
        <th scope="col"><font face="Montserrat" color="#3192B3">Sala de Prova</font></th>
      </tr>
      <font color="#706F6F"></font>
    </thead>
    <% for(var i=0; i < docs.length; i++) { %>
       <tr>
        <th scope="row"><%= i %></th>
         <td><font color="#706F6F"><%= docs[i].selectionProcess %></font></td>
         <td><font color="#706F6F"><%= docs[i].name %></font></td>
         <td><font color="#706F6F"><% if(docs2[0].registrationStatus){ %>
          Confirmada
        <% } else{ %>  
          Não Confirmada
       <% } %></font></td>
         <td><font color="#706F6F"><% if(docs2[0].exemptionStatus == "notRequested"){ %>
          Não Solicitada
        <% } else{ %>  
          Solicitada
       <% } %></font></td>
         <td><font color="#706F6F">A prova teórica será realizada no dia <b> 16 de novembro</b> às <b>18:41.</b> Mais informações podem ser encontradas no nosso site e nas redes sociais.</font></td>
         <td><font color="#706F6F">Não divulgado</font></td>
       </tr>
    <% } %>
  </table>
