<font face="Montserrat"><h1 class="mt-4" style="font-size: 48px; color: #f9b342">Área de Usuário</h1>
<p class="lead mb-3" style="font-size: 12; color: #fff"></font>
  Seja bem-vindo <b><%= user.name %>!</b>
</p>
<a href="/users/logout" class="btn btn-primary">Minhas Inscrições</a>
<a href="/users/logout" class="btn btn-primary">Inscrever-se</a>
<a href="/users/logout" class="btn btn-primary">Logout</a>
