<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <div class="container">
        <a class="brand"
          ><img
            src="https://i0.wp.com/cursosantosdumont.org.br/wp-content/uploads/2020/03/CASD.png?fit=600%2C211&ssl=1"
            width="250px"
        /></a>
        <div class="card-body">
          <font face="Montserrat"><p>Faça login ou Cadastre-se!</p></font>
          <a href="/users/register" class="btn btn-info btn-block mb-2"
            ><font face="Montserrat" color="#FFF">Cadastre-se</font></a
          >
          <a href="/users/login" class="btn btn-info btn-block"
            ><font face="Montserrat">Fazer Login</font></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
